<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>현재 위치를 지도에 표시하기 위해 위치 권한이 필요합니다.</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>지도 기능을 위해 위치 권한이 필요합니다.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>명화를 사진 앱에 저장하기 위해 권한이 필요합니다.</string>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.com.news.habit</string>
	</array>
</dict>
</plist>
